.b2b-section {
    font-family: Wix Madefor Display,sans-serif;
    text-align: center;
    max-width: 1720px;
    margin: auto;
    padding: 50px 90px;
}

.b2b-head {
    width: 800px;
    text-align: center;
    font-size: 47px;
    font-weight: 400;
    line-height: 50px;
    margin: auto auto 2rem
}

.b2b-para,.b2b-paraa {
    font-size: 17px;
    font-weight: 500;
    color: #362a2a;
    max-width: 1142px;
    margin: 0 auto;
    line-height: 30px
}

.b2b-headss,.b2b-paraa {
    text-align: center;
    padding-top: 20px
}

.b2b-headss {
    font-size: 27px;
    font-weight: 500
}

.b2b-headsss {
    font-size: 40px;
 
    line-height: 68px;
    font-weight: 500
}

.b2b-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0 0;
    margin: 0 auto
}

.left-b2b-cards,.right-b2b-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start
}

.right-b2b-cards {
    margin-top: 5rem
}

.left-b2b-card-2 {
    position: relative;
    background: #fff;
    border: 1px solid #80808045;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    overflow: hidden;
    margin-bottom: 5rem
}

.left-b2b-card-2:hover,.left-b2b-card:hover,.right-b2b-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    transform: translateY(-5px)
}

.left-b2b-card-2:hover .b2b-logo img,.left-b2b-card:hover .b2b-logo img,.right-b2b-card:hover .b2b-logo img {
    transform: scale(1.03)
}

.left-b2b-card,.right-b2b-card {
    position: relative;
    background: #fff;
    border: 1px solid #80808045;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    overflow: hidden
}

.left-b2b-card:hover,.right-b2b-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    transform: translateY(-5px)
}

.b2b-logo {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.b2b-logo img {
    max-width: 100%;
    width: 100%;
    height: auto;
    transition: transform .4s ease-in-out
}

.left-b2b-card:hover .b2b-logo img,.right-b2b-card:hover .b2b-logo img {
    transform: scale(1.03)
}

.b2b-contain {
    padding: 10px 30px 30px 20px;
}

.b2b-btn {
    text-decoration: underline;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 30px 17px;
    gap: 15px
}

.b2b-btn,.b2b-btn:hover {
    color: #000
}

.b2b-btn img {
    width: 45px;
    height: 45px
}

@media (max-width: 1200px) {
    .b2b-content,.left-b2b-cards,.right-b2b-cards {
        flex-direction:column;
        align-items: center
    }

    .left-b2b-cards,.right-b2b-cards {
        gap: 20px
    }

    .right-b2b-cards {
        margin-top: 0
    }

    .left-b2b-card-2 {
        margin-bottom: 0
    }
}

@media (max-width: 992px) {
    .b2b-head {
        width:100%;
        font-size: 42px
    }

    .b2b-headss {
        font-size: 26px
    }

    .b2b-headsss {
        font-size: 36px
    }

    .b2b-para,.b2b-paraa {
        font-size: 16px;
        line-height: 28px;
        padding: 0 15px
    }

    .left-b2b-card-2 {
        width: 85%!important
    }

    .left-b2b-card,.right-b2b-card {
        width: 85%
    }

    .b2b-btn {
        font-size: 18px;
        margin: 25px
    }

    .b2b-btn img {
        width: 40px;
        height: 40px
    }
}

@media (max-width: 768px) {
    .b2b-head {
        width:100%;
        font-size: 36px
    }

    .b2b-headss {
        font-size: 24px
    }

    .b2b-headsss {
        font-size: 32px;
        line-height: normal
    }

    .b2b-para,.b2b-paraa {
        font-size: 15px;
        line-height: 26px
    }

    .left-b2b-card-2 {
        width: 90%!important;
        margin-bottom: 0
    }

    .left-b2b-card,.right-b2b-card {
        width: 90%
    }

    .b2b-btn {
        font-size: 18px;
        margin: 20px
    }

    .b2b-btn img {
        width: 35px;
        height: 35px
    }

    .b2b-section {
        padding: 30px
    }

    .b2b-paraa {
        padding-top: 20px
    }
}

@media (max-width: 576px) {
    .b2b-head {
        width:100%;
        font-size: 32px
    }

    .contact-heading {
        font-size: 24px!important;
        font-weight: 500
    }

    .b2b-section {
        padding: 20px
    }

    .b2b-headss {
        font-size: 22px
    }

    .b2b-headsss {
        font-size: 28px
    }

    .b2b-para,.b2b-paraa {
        font-size: 14px;
        line-height: 24px
    }

    .left-b2b-card-2 {
        width: 95%!important;
        margin-bottom: 0
    }

    .left-b2b-card,.right-b2b-card {
        width: 95%
    }

    .b2b-btn {
        font-size: 16px;
        margin: 15px
    }

    .b2b-btn img {
        width: 30px;
        height: 30px
    }
}

@media(max-width: 508px) {
    .plt-head {
        font-size:18px
    }

    .plt-para {
        width: 100%;
        font-size: 14px
    }

    .plt-card h3 {
        font-size: 17px;
        line-height: 25px
    }
}

@media (max-width: 400px) {
    .b2b-head {
        width:100%;
        font-size: 27px;
        margin-bottom: 19px!important
    }

    .b2b-headss {
        font-size: 20px;
        margin-bottom: 2rem
    }

    .b2b-headsss {
        font-size: 26px;
        text-align: center;
        margin: 21px auto
    }

    .b2b-para,.b2b-paraa {
        font-size: 14px;
        line-height: 22px;
        text-align: center
    }

    .b2b-btn {
        margin-bottom: 22px;
        font-size: 14px;
        align-items: center;
        justify-content: center
    }

    .b2b-btn img {
        width: 25px;
        height: 25px
    }
}
