@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display';
}

.carousel-container {
    width: 100%;
    /* min-height: 100vh; */
    padding: 40px;
}

.inner-carousel-container {
    max-width: 1280px;
    margin: 0 auto;
}

.carousel-container-heading {
    text-align: center;
        font-size: 3rem;
        font-weight: 500;
}

.carousel-container-para {
    margin: 15px 0px;
    font-size: 18px;
    text-align: center;
}

.carousel-div {
    width: 95%;
    margin: 0px auto;
}

.carousel-item {
    width: 90%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-carousel-item {
    width: 50%;
    position: relative;
}

.left-carousel-btn-div {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 12;
    display: flex;
    gap: 10px;
    align-items: center;
}

.left-carousel-item > img {
    aspect-ratio: 2/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-carousel-item {
    width: 50%;
    background-color: #f1f2f3;
    padding: 20px;
}

.left-carousel-btn {
    background: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

.blue-bg {
    background-color: #0000ff;
    color: #fff;
}

.blue-bg:hover{
    background-color: #2a2aff;
}

.right-carousel-heading{
    font-size: 2rem;
    line-height: 40px;
}

.right-service-stack-div {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    align-items: baseline;
}

.right-service-stack {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.right-service-stack > ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}

.right-service-stack > ul > li {
    font-weight: 500;
    margin: 5px 0px;
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        padding-bottom: 10px;
        border-bottom: 1px solid black;

}

.right-carousel-para {
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 24px;
}

.service-stack-heading {
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 5px !important;
}

.right-carousel-inner-btn {
    font-size: 16px;
    margin: 20px 0px;
}

.carousel-item {
    margin: 30px auto;
}

.swiper-horizontal {
    margin-top: 20px;
}

@media screen and (max-width:576px){
    .carousel-container-heading {
        font-size: 2rem;
    }

    .carousel-item {
        flex-direction: column;
        width: 90%;
    }

    .left-carousel-item , .right-carousel-item {
        width: 100%;
    }

    .right-service-stack-div {
        flex-direction: column;
    }

    .left-carousel-btn-div {
        flex-direction: column;
    }

    .right-service-stack {
        width: 100%;
    }
}

.swiper-button-prev,.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000ff;   
}

.swiper-button-prev::after,.swiper-button-next::after{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

@media screen and (max-width:1000px){
    .carousel-item {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .left-carousel-item,.right-carousel-item{
        width: 100% !important;
    }
}

@media screen and (max-width:576px){
    .carousel-container {
        padding: 40px 10px;
    }

    .carousel-div {
        width: 100%;
    }

    .carousel-item {
        flex-direction: column;
        width: 85%;
    }

    .left-carousel-item > img {
        aspect-ratio: 1/1;
    }

    .left-carousel-btn-div {
        display: none;
    }
}