@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Display";

}

body {
  color: rgba(65, 65, 65, .9);
  font-size: 16px;
}

.contact-us-section {
  position: relative;
  /* background: linear-gradient(270deg, #616664 21.77%, #ccd0cf 100%); */
  background: linear-gradient(280deg, #89c7fb, #c8d5f9 62.02%, #f9f9f4);

}

.form-container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 28px 95px;
}


@media only screen and (max-width: 1780px) {
  .form-container {
    max-width: 1520px;
  }
}


.contact-us-section .contact-logo {
  display: block;
  padding: 15px 0;
}


.justify-sb {
  justify-content: space-between;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
}

.contact-us-section .left-box {
  flex-basis: 40%;
}


.contact-us-section .left-box p {
  margin: 30px 0 0;
  color: #fff;
  font-weight: 300;
  opacity: .7;
  font-size: 20px;
  line-height: 29px;
}


.contact-us-section .left-box .row-box .col-box {
  margin: 40px 0 0;
  align-items: center;
}





.contact-us-section .left-box .row-box .col-box .icon img {
  flex-basis: 8%;
  filter: invert(28%) sepia(95%) saturate(7441%) hue-rotate(198deg) brightness(96%) contrast(104%);
}


img {
  max-width: 100%;
  height: auto;
  
}

.contact-us-section .left-box .row-box .col-box .desp {
  flex-basis: 92%;
  padding-left: 10px;
}

.contact-us-section .left-box .row-box .col-box .desp h4 {
  color: #000000;
  /* font-weight: 500; */
}

h4 {
  font-size: 20px;
  color: #110302;
  font-weight: 600;
}

.contact-us-section .left-box .row-box .col-box .desp p {
  font-size: 14px;
  margin: 5px 0 0;
  line-height: 1.2;
}

.contact-us-section .left-box p {
  margin: 30px 0 0;
  color: #000000;
  font-weight: 600;
  opacity: .7;
  font-size: 23px;
  line-height: 35px;
}


.contact-us-section .right-box {
  flex-basis: 47%;
  position: relative;
}

.contact-us-section .right-box:before {
  content: "";
  width: 368px;
  height: 76%;
  border-radius: 25px;
  background: url(./img/bg-shape.png) 0 0 no-repeat;
  position: absolute;
  top: -10px;
  left: -10px;
}

.contact-us-section .right-box .form-wrap {
  background: #fff;
  border-radius: 20px;
  z-index: 1;
  position: relative;
  max-height: 670px;
  height: 100%;
  background: #ffffff;
  /* form body */
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

}

 

.contact-us-section .right-box .form-wrap .form-top {
  padding: 18px 32px 20px;
  /* background: #3464fd5e;
    border-radius: 20px 20px 0 0; */
  padding: 18px 32px 20px;
  /* background: linear-gradient(177deg, #4f8df900, #6a6afc9e); */
  background: linear-gradient(90deg, #0053ce, #00c2ff 51%, #0053ce) 0 / 200%;
  color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;


}


.contact-us-section .right-box .form-wrap .form-top h2 {
  font-weight: 700;
  /* margin: 0 0 5px; */
  font-size: 32px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.899);
}

.contact-us-section .right-box .form-wrap .form-top p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(249, 246, 246);
  line-height: 2.4;
}

.contact-us-section .right-box .form-wrap .form-top .soc-box {
  color: #ffffff;
  font-size: 14px;
}

.items-center {
  align-items: center;
}



.contact-us-section .right-box .form-wrap .form-top .soc-box a:first-child {
  padding: 0;
}

.contact-us-section .right-box .form-wrap .form-top .soc-box a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
}

.cnt-anc {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}


.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}

.dropdown-list div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-list div:hover {
  background-color: #f0f0f0;
}


.contact-captcha-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-bottom: 8px;
}

#contact-captchaQuestion {
  font-weight: 500;
  font-size: 20px;
}

#contact-captchaAnswer {
  border: none;
  border-bottom: 2px solid #000;
  text-align: center;
  width: 40px;
  margin-left: 6px;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
}

#contact-captchaAnswer:focus {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}

.contact-captcha-btn {
  background: #0ea80e;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.contact-captcha-btn:hover {
  background: #0b7e0b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.contact-us-section .right-box .form-wrap .form-top .soc-box a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
  font-weight: 600;
}

.contact-us-section .right-box .form-wrap .form-top .soc-box a i {
  margin-right: 10px;
}

.contact-us-section .right-box .form-wrap .form-top .soc-box a i img {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}


/* .contact-us-section .right-box .form-wrap .form-top .soc-box a:before {
    content: "";
    width: 1px;
    height: 25px;
    position: absolute;
    left: 9px;
    top: -2px;
    background: rgba(65, 65, 65, .3);
} */


.contact-us-section .right-box .form-bottom {
  padding: 0 25px 20px;
}

.contact-us-section .right-box .form-box {
  margin: 18px 0 0;
}



.contact-us-section .right-box .form-box .form-text-cont {
  flex-basis: 48%;
  margin-bottom: 18px;
  position: relative;
}

.contact-us-section .right-box .form-box .form-text-cont label {
  color: #283646;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 8px;
  display: block;
}

.contact-us-section .right-box .form-box .form-text-cont .input-field {
  font-size: 15px;
  padding: 0 15px;
  height: 46px;
  border-radius: 8px;
  background: #f8f9fa;
  border: 2px solid #eceef0;
  width: 100%;
  color: #4f5a68;
}

.contact-us-section .right-box .form-box .form-text-cont small {
  font-size: 11px;
  line-height: 12px;
  text-transform: capitalize;
  color: #95959f;
  display: none;
  float: left;
  width: 100%;
  margin-top: 5px;
}


.contact-us-section .right-box .form-box .form-text-cont {
  flex-basis: 48%;
  margin-bottom: 18px;
  position: relative;
}

.contact-us-section .right-box .form-box .form-text-cont.width-full {
  flex-basis: 100%;
}

.contact-us-section .right-box .form-box .form-text-cont {
  flex-basis: 48%;
  margin-bottom: 18px;
  position: relative;
}

.contact-us-section .right-box .form-box .form-text-cont .comment-input {
  height: 100px;
  padding: 15px;
}


.contact-us-section .right-box .form-box .form-text-cont:last-child {
  margin-bottom: 0;
}

.contact-us-section .right-box .form-box .form-text-cont.width-full {
  flex-basis: 100%;
}

.contact-us-section .right-box .form-box .form-text-cont {
  flex-basis: 48%;
  margin-bottom: 18px;
  position: relative;
}

.contact-us-section .right-box .form-box .form-conf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}



.contact-us-section .right-box .form-box .form-conf span i {
  margin-right: 3px;
}

.contact-us-section .right-box .form-box .form-conf span i img {
  vertical-align: middle;
  margin-top: -3px;
}

img {
  max-width: 100%;
  height: auto;
}


.contacts-label::after {
  content: '*';
  color: #ff0000;
  position: absolute;
  top: 1px;
}

.contact-us-section .right-box .form-box .form-conf span.signnda {
  padding: 0 12px;
  position: relative;
}

.contact-us-section .right-box .form-box .form-conf span {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
}

.contact-us-section .right-box .form-box .form-conf span.signnda:before {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  left: 3px;
  top: 0;
  background: rgba(65, 65, 65, .3);
}


.contact-us-section .right-box .form-box .form-text-cont .submit-btn {
  min-width: 168px;
  font-size: 16px;
  line-height: 22px;
  background: #016be3;
  color: #fff;
  padding: 15px 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s ease-in-out; 
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #016be3; 
}


/* .slider{
    padding: 58px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */




@media screen and (max-width: 1220px) {
  .form-container {
    padding: 28px 20px;
  }

  .dis-flex {
    /* flex-direction: column; */
  }

  .contact-us-section .left-box,
  .contact-us-section .right-box {
    flex-basis: 100%;
    max-width: 100%;
  }

  .contact-us-section .right-box:before {
    display: none;
    /* hide background shape on small screens */
  }

  .contact-us-section .right-box .form-wrap {
    max-height: none;
  }

  .contact-us-section .right-box .form-box .form-text-cont {
    flex-basis: 100%;
  }



  .contact-us-section .right-box .form-box .form-conf span.signnda:before {
    display: none;
  }

  .contact-us-section .right-box .form-box .form-conf span.signnda {
    padding-left: 0;
  }

  .contact-us-section .right-box .form-box .form-text-cont .submit-btn {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .contact-us-section .right-box .form-wrap .form-top h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .contact-us-section .right-box .form-wrap .form-top p {
    line-height: 1.8;
  }

  .contact-us-section .right-box .form-wrap .form-top .soc-box {
    /* flex-direction: column; */
    gap: 10px;
  }

  .contact-us-section .right-box .form-wrap:before {
    width: 100px;
    height: auto;
    top: -15px;
    right: 15px;
    background-size: contain;
  }

  .contact-us-section .right-box .form-box .form-conf {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 10px;
  }

  .contact-us-section .right-box .form-wrap .form-top .soc-box a{
    padding: 0;
  }
}



.slider {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 38px 0;
}

.slider-track {
  display: flex;
  width: calc(166px * 10 + 35px * 9);
  animation: scroll 15s linear infinite;
}

.slider img {
  width: 200px;
  height: 50px;
  margin-right: 35px;
}

/* Keep animation smooth */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* === Responsive === */
@media screen and (max-width: 576px) {
  .slider {
    padding: 0 10px;
    margin: 40px auto;
  }

  .slider img {
    width: 160px;
    height: 52px;
    margin-right: 20px;
  }
}




#country-suggestions {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  width: 100%;
  border-radius: 5px;
  display: none;
}

#country-suggestions div:hover {
  background: #f2f2f2;
}






.mainDsContain {
  background-color: #f8f8ff;
  max-width: 1720px;
  margin: auto; 
}

.mainDsDiv {
  /* max-width: 1720px; */
  margin: auto;
  padding: 50px
}

.mainDsDivtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.mainDsDivNum p {
  line-height: 58px;
  font-size: 45px;
  font-weight: 500
}

.mainDsDivNumstart {
  text-align: center;
  font-size: 14px;
  font-weight: 500
}

.mainDsDiv {
  text-align: center
}

.ds25-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-bottom: 70px;
  background-color: #f8f8ff
}

.ds25Content {
  line-height: 32px;
  height: 69px;
  width: 303px;
  font-size: 25px!important;
  font-weight: 600;
}

.ds25-left {
  width: 20%;
  position: relative
}

.ds25-arrow {
  font-size: 30px;
  color: #0c61ff;
  transform: rotate(180deg)
}

.svgArrowDiv {
  width: 100%
}

.ds25-heading {
  position: relative;
  top: 50px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 1.4
}

.ds25-left-item {
  position: relative;
  top: 15px;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 40px;
  padding-right: 40px
}

.ds25-subtext {
  font-size: 19px
}

.freeSubtextDs {
  height: 70px;
  display: flex;
  font-weight: 500
}

.ds25-plus {
  position: absolute;
  right: -38px;
  top: 13px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: #0c61ff;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  animation: pulseGlow 2s infinite, upward 1s ease-in-out;
  box-shadow: 0 0 0 rgba(59, 59, 240, 0.7);
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 59, 240, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(59, 59, 240, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 59, 240, 0);
  }
}


@keyframes upward {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(-50%);
  }
}


.ds25-popup {
  position: absolute;
  top: 0;
  left: 370px;
  width: 360px;
  background: #fff;
  padding: 16px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  z-index: 2;
  animation: fadeIn .2s ease;
  cursor: pointer;
}

.ds25-popup.shift-up {
  transform: translateY(-50px);
}

.ds25-step-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center
}

.ds25-bottom-arrow {
  position: relative;
  right: 218px;
  bottom:15px;
}

.ds25-step-title {
  color: #0c61ff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px
}

.ds25-popup p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  font-weight: 600;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-4px)
  }

  to {
      opacity: 1;
      transform: translateY(0)
  }
}

.ds25-right {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1
}

.ds25-step {
  background-color: #0c61ff;
  color: #fff;
  border-radius: 50px;
  padding: 14px 30px
}

.ds25-step,.ds25-step-num {
  display: flex;
  align-items: center
}

.ds25-step-num {
  font-size: 40px;
  font-weight: 600;
  width: 36px;
  height: 36px;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
  position: relative;
  z-index: 1
}

.ds25-step-num:after,.ds25-step-num:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 3px;
  height: 30px;
  background-color: #0c61ff;
  transform: translateX(0);
  z-index: 0
}

.ds25-step-num:before {
  top: -50px
}

.ds25-step-num:after {
  bottom: -50px
}

.ds25-step-text {
  font-size: 17px;
  width: 420px;
  line-height: 1.4
}

.ds25-arrow-wrapper {
  position: absolute;
  top: 0;
  left: -80px
}

.ds25-arrow-svg {
  transform: rotate(-40deg)
}

.mainDsDivNum {
  position: relative;
  display: inline-block
}

.from0to1-underline {
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 0
}

@media screen and (max-width: 1025px) {
  .ds25-right {
      align-items:flex-start
  }

  .ds25-step-num:after,.ds25-step-num:before {
      display: none
  }

  .ds25-bottom-arrow {
      position: static;
      display: none
  }

  .ds25-container {
      align-items: flex-start;
      gap: 40px;
      padding: 30px
  }

  .ds25-left {
      width: 37%
  }

  .ds25Content {
      width: 100%;
      font-size: 20px!important
  }

  .ds25-arrow-wrapper {
      display: none
  }

  .ds25-plus {
      right: 10px;
      top: 10px
  }

  .ds25-step {
      max-width: 350px;
      border-radius: 80px;
      padding: 8px 20px
  }

  .ds25-step-text {
      font-size: 13px;
      width: unset;
      line-height: 1.4
  }

  .ds25-step-num {
      font-size: 26px;
      font-weight: 600;
      margin-right: 0
  }

  .ds25-left-item {
      position: relative;
      top: 15px;
      font-size: 23px;
      font-weight: 400;
      margin-bottom: 25px;
      padding-right: 40px
  }

  .ds25-popup {
      position: absolute;
      top: 0;
      left: 400px
  }
}

@media screen and (max-width: 768px) {
  .ds25-bottom-arrow {
      position:static;
      display: none
  }

  .freeSubtextDs {
      width: 300px
  }

  .mainDsContain {
      padding: 30px 20px
  }

  .mainDsDivNum p {
      text-align: center;
      font-size: 30px
  }

  .mainDsDivNumstart,.mainDsDivtitle {
      font-size: 12px
  }

  .ds25-left-item {
      font-size: 20px;
      padding-right: 0
  }

  .ds25-container {
      padding: 0
  }

  .ds25Content {
      font-size: 20px!important;
      width: 90%
  }

  .ds25-step {
      align-items: center;
      padding: 16px
  }

  .ds25-step-num {
      font-size: 28px;
      margin-bottom: 10px
  }

  .ds25-step-num:after,.ds25-step-num:before {
      display: none
  }

  .ds25-step-text {
      text-align: center;
      font-size: 13px
  }

  .ds25-plus {
      right: 0;
      top: 10px
  }

  .ds25-popup {
      position: absolute;
      top: 0;
      left: 300px
  }

  .ds25-left-item {
      margin-bottom: 48px
  }
}

@media (max-width: 600px) {
  .ds25-container {
      flex-direction:row;
      gap: 15px
  }

  .ds25Content {
      font-size: 12px!important;
      line-height: 19px
  }

  .ds25-step-text {
      font-size: 10px
  }

  .ds25-step {
      flex-direction: row;
      padding: 8px;
      max-width: 225px
  }

  .ds25-step-num {
      font-size: 14px;
      margin: 0!important
  }

  .ds25-popup {
      position: fixed;
      background: #fff;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      height: 100dvh;
      flex-direction: column;
      padding: 0 40px;
      margin: 0!important;
      border-radius: 0
  }

  .ds25-popup,.ds25-popupclose {
      display: flex;
      justify-content: center;
      align-items: center
  }

  .ds25-popupclose {
      width: 25px;
      height: 25px;
      background-color: #0c61ff;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      border-radius: 50%;
      cursor: pointer;
      animation: pulseGlow 2s infinite;
      box-shadow: 0 0 0 rgba(59,59,240,.7);
      margin-bottom: 10px
  }

  .ds25-left-item {
      margin-bottom: 20px
  }

  .ds25-popup p {
      text-align: center
  }
}

@media(max-width: 450px) {
  .mainDsDiv {
      padding:10px 10px 32px
  }

  .ds25-bottom-arrow {
      position: static;
      display: none
  }

  .freeSubtextDs {
      width: 90%
  }

  .ds25-step-text {
      width: 100%
  }

  .ds25-step-num {
      font-size: 14px;
      margin: 8px!important;
      width: unset;
      height: unset
  }

  .ds25-plus {
      right: -12px;
      top: 10px
  }

  .ds25-left-item {
      margin-bottom: 20px
  }
}

@media screen and (max-width: 400px) {
  .ds25-left-item {
      margin-bottom:26px
  }
}

@media screen and (max-width: 340px) {
  .ds25-left-item {
      margin-bottom:36px
  }
}

 
.h2testimonialwrap {
  width: 100%;
    position: relative;
    background: #f6f5f4;
    padding: 45px 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    max-width: 1720px;
}

.testiTopDetails {
  display: flex;
  justify-content: center;
  max-width: 1720px;
  width: 100%;
  align-items: flex-start;
  padding: 0 60px;
  gap: 30px;
  margin: 0 auto
}

.testiTopDetails .tettopleft {
  display: flex;
  flex-direction: column
}

.testiTopDetails .tettopleft p:first-child {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  color: #000;
}

.testiTopDetails .tettopleft p:nth-child(2) {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  max-width: 450px
}

.testright {
  display: flex;
  align-items: center;
  gap: 30px
}

.testswipsingle {
  width: 98%!important;
  height: 420px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}


.reviewsss {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px
}

.projectre,.reviewname,.reviewsss { 
  text-align: left;
  color: #222
}

.projectre,.reviewname {
  font-size: 18px;
  line-height: 28px
}

.reviewname {
  font-weight: 600
}

.projectre {
  font-weight: 700
}

.roudned,.swiper-button-next2,.swiper-button-prev2 {
  width: 44px;
  height: 44px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color .3s
}

.roudned svg,.swiper-button-next2 svg,.swiper-button-prev2 svg {
  width: 14px;
  height: 14px;
  transition: stroke .3s;
  border: none
}

.home2Leftarrow,.home2rightarrow {
  font-size: 40px;
  transition: .4s;
  color: #000
}

.roudned svg path,.swiper-button-next2 svg path,.swiper-button-prev2 svg path {
  stroke: #0e151d
}

.roudned:hover,.swiper-button-next2:hover,.swiper-button-prev2:hover {
  border-color: #1063ff
}

.roudned:hover svg path,.swiper-button-next2:hover svg path,.swiper-button-prev2:hover svg path {
  stroke: #1063ff!important
}

.home2Leftarrow {
  font-weight: 300!important
}

.home2Leftarrow:hover,.home2rightarrow:hover {
  color: #1063ff
}


.testImageCloud {
  display: flex;
  align-items: center;
   justify-content: space-between;
}

@media (max-width: 1250px) {
  .singswiperdiv {
      width:400px;
      height: 400px;
      min-height: 0
  }

  .brandswipe {
      height: 107px!important
  }

  .mySwiper32 {
      width: 100%;
      transform: translateY(-50%) translateX(20px)
  }

  .swiplidebtn {
      bottom: 44px
  }

  .insidebtns p,.swiplidebtn p {
      font-size: 18px
  }

  .testswipsingle {
    max-width: 500px;
    width: 100%;
    height: 510px !important;
}
}

@media (max-width: 1150px) {
  .testswipsingle img {
      width:100px
  }

  .projectre,.reviewname,.reviewsss {
      font-size: 14px
  }

 
}

@media (max-width: 1090px) {
  .brandswipe {
      height:97px!important
  }

  
}

@media (max-width: 810px) {
  .testiTopDetails .tettopleft p:first-child {
      font-size:20px
  }

  .testiTopDetails .tettopleft p:nth-child(2) {
      font-size: 30px
  }

  .swiplidebtn {
      bottom: 20px
  }

  .brandswipe {
      height: 77px!important
  }

  .testswipsingle {
    max-width: 500px;
    width: 100%;
    height: 480px !important;
}
}

@media (max-width: 750px) {
  .singswiperdiv {
      width:280px;
      height: 280px
  }

  .swipebtns32 {
      transform: translateY(-100px) translateX(-40px)
  }

  .h2swiperwrap {
      max-height: 250px
  }

  .testswipsingle {
    max-width: 500px;
    width: 100%;
    height: 530px !important;
}
}

@media (max-width: 700px) {
  .brandswipe {
      height:57px!important
  }

 
}

@media (max-width: 600px) {
  .swiplidebtn {
      align-items:flex-start!important;
      bottom: 6px;
      gap: 4px
  }

  .singswiperdiv {
      width: 260px;
      height: 260px
  }

  .h2testimonialwrap{
    padding: 40px;
  }

  .testswipsingle {
      max-width: 500px;
      width: 100%;
      height: fit-content;
  }

  .swipebtns32 {
      transform: translateY(-70px) translateX(-40px);
      margin-bottom: 30px
  }

  .brandswipe {
      height: 47px!important
  }

  .insidebtns span {
      font-size: 8px
  }

  .swiplidebtn p {
      font-size: 10px
  }

  .insidebtns p {
      font-size: 18px
  }

  .h2braswiperwrap h3 {
      font-size: 32px;
      line-height: 42px
  }

  .viewworkbtns {
      width: 180px;
      height: 50px
  }

  .reviewsss,.viewworkbtns span {
      font-size: 16px;
      line-height: 26px
  }

  .testiTopDetails .tettopleft p:first-child {
      font-size: 18px;
      line-height: 28px
  }

  .testiTopDetails .tettopleft p:nth-child(2) {
      font-size: 30px;
      line-height: 40px
  }

  .projectre,.reviewname {
      font-size: 14px
  }
}

@media (max-width: 550px) {
  .testright {
      transform:translateX(-20px)
  }

  .testiTopDetails {
      padding: 0 20px
  }

  .testiTopDetails .tettopleft p:first-child {
      font-size: 16px
  }

  .testiTopDetails .tettopleft p:nth-child(2) {
      font-size: 22px
  }

  .singswiperdiv {
      margin: 0 auto;
      max-width: 200px;
      max-height: 200px
  }

  .swipebtns32 {
      transform: translateY(-20px) translateX(-40px);
      margin-bottom: 30px
  }

  .sec3cont {
      padding: 40px 20px!important
  }

  .mySwiper32 {
      transform: translateY(-30%) translateX(0)
  }

  .brandswipe {
      height: 84px!important
  }

  .viewworkbtns {
      width: 140px;
      height: 42px
  }

  .viewworkbtns span {
      font-size: 12px
  }

  .h2braswiperwrap h3 {
      font-size: 24px;
      line-height: 34px
  }

  .testswipsingle {
      max-width: 90vw;
      width: 100%;
      height: fit-content !important;
  }

  .roudned {
      width: 30px;
      height: 30px
  }

  .h2swiperwrap {
      max-height: 220px
  }
}

@media (max-width: 440px) {
  .singswiperdiv {
      width:200px;
      height: 200px
  }
}
