  @media (max-width:1200px){
  .mainsec{
    padding: auto;
    margin: auto;
  }
  img{
    width: 100%;
    height: auto;
  }
  }


  @media (max-width:720px){
    .sixRow{
        height: auto;
        width: auto;
    }
    .sixRow img{
        display: none;
    }
    .sixRowP{
        width: 80%;
      display: inline-block;
        height: auto;
    }
    .sixPara{
        width: 70%;
        display: inline-block;
        
    }
    .btn-light{
        margin-bottom: 20px;
    }
    .mainSec{
        flex-direction: column;
    }
   
   
  }



  @media (max-width: 768px) {
    section.mainSec {
      flex-direction: column;
      gap: 30px;
      margin: auto;
    }
    .img {
      display: none;
   }
    .mainSec1{
      flex-direction: column;
    }

    .mainSec2 {
      justify-content: center;
      flex-direction:column ;
    }

    .caseBtn {
      align-self: center;
      /* margin-left: 73px; */
    }

    .img {
      justify-content: center;
    }
  }

  @media (max-width: 480px) {
    .mainse {
      font-size: 20px;
    }
    img{
      height: min-content;
      width: 100%;
    }

    .mainp {
      font-size: 20px;
    }

    .caseBtn {
      font-size: 12px;

    }

    .mainSec2 div {
      min-width: 100px;
    }
    img{
      height: min-content;
      width: 100%;
    }
  }
 
  