@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap');

::after,*::before{
   box-sizing: border-box;
}

*{
   margin: 0;
   padding: 0;
}

/* body{
   width: 100vw;
   height: 100vh;
} */


.hero-sectionss {
    background-color: #252B35;
    color: white;
    font-family: "Wix Madefor Display";
    /* margin: 0; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 95vh;
  }
  
  .hero-container {
    display: flex;
    width: 100%;
    max-width: 1340px;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  .hero-content {
    flex: 1;
    min-width: 320px;
    text-align: left;
  }
  
  .hero-tag {
    color: #C4C4C4;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    border-left: 2px solid #E44D26;
    padding-left: 8px;
  }
  
  .headss {
    font-size: 40px;
    margin: 20px 0;
    color: white;
  }
  
  .hero-description {
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    color: #C4C4C4;
    line-height: 1.7;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 35px;
  }
  
  .primary-btn {
    background-color: #7AD7C4;
    color: black;
    padding: 15px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .secondary-btn {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .img-container {
    position: relative;
    flex: 1;
    min-width: 320px;
    display: flex;
    justify-content: center;
  }
  
  .image-thumbnail {
    width: 100%;
    max-width: 630px;
    border-radius: 10px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 1024px) {

   
    .hero-container {
      flex-direction: column;
      text-align: center;
      gap: 3rem;
    }
  
    .hero-content {
      text-align: center;
    }
  
    h1 {
      font-size: 34px;
    }
  
    .hero-description {
      font-size: 15px;
      max-width: 100%;
    }
  
    .buttons {
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 28px;
    }
  
    .hero-description {
      font-size: 14px;
    }
  
    .primary-btn,
    .secondary-btn {
      font-size: 15px;
      padding: 12px 30px;
    }
    
    .image-thumbnail {
      max-width: 90%;
    }

    .hero-sectionss{
        height: auto;
    }
  }

  .sec-section {
    font-family: "Wix Madefor Display";
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
  }
  
  .sec-container {
    display: flex;
    max-width: 1340px;
    margin: 50px auto;
    align-items: center;
    gap: 5rem;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  .sec-content {
    flex: 1;
    min-width: 320px;
    text-align: left;
  }
  
  .sec-tag {
    color: #6a7a87;
    font-size: 12px;
    text-transform: uppercase;
    border-left: 2px solid #66b2a3;
    padding-left: 8px;
    font-weight: bold;
  }
  
  h1 {
    font-size: 35px;
    margin: 19px 0;
    color: #222;
  }
  
  .sec-description {
    font-size: 17px;
    color: #555;
    line-height: 28px;
    max-width: 86%;
  }
  
  .points {
    padding: 16px 0;
    color: #444;
  }
  
  .points li {
    list-style: disc;
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px;
  }
  
  .points li::before {
    position: absolute;
    left: 0;
    color: #66b2a3;
  }
  
  .headlin {
    font-size: 17px;
  }
  
  .buttonsss {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    /* justify-content: center; */
  }
  
  .primary-btnss {
    background-color: #7AD7C4;
    color: black;
    padding: 15px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: lighter;
  }
  
  .secondary-btnss {
    background: none;
    border: 1px solid black;
    color: black;
    padding: 15px 36px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .image-sec-container {
    flex: 1;
    min-width: 320px;
    display: flex;
    justify-content: center;
  }
  
  .image-sec-container img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
  }
  
  .testimonial {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .testimonial p {
    font-style: italic;
    color: #555;
  }
  
  .testimonial .author {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .testimonial .author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-info {
    font-size: 14px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 1024px) {
    .sec-container {
      flex-direction: column;
      text-align: center;
      gap: 3rem;
    }
  
    .sec-content {
      text-align: center;
    }
  
    h1 {
      font-size: 22px;
    }
  
    .sec-description {
      font-size: 15px;
      max-width: 100%;
    }
  
    .buttonsss {
      justify-content: center;
    }
  
    .points{
      text-align: left;
    }
  
    .points li{
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 20px;
    }
  
    .sec-description {
      font-size: 14px;
    }
  
    .primary-btnss,
    .secondary-btnss {
      font-size: 15px;
      padding: 12px 30px;
    }
    
    .image-sec-container img {
      max-width: 90%;
    }
  
    .points{
      text-align: left;
    }
  }










  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.con--1-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.sec--1{
    margin: 40px;
}

.con--1-div h4{
    font-size: 26px;
    color: rgb(81, 79, 79);
    margin-top: 20px;

}

.con--1-flex-content{
    width: 32%;
}

.con--1-div{
    margin: 30px;
}

.con--1-flex h5{
    color: rgba(90, 89, 89, 0.873);
    font-size: 18px;
    margin-top: 25px;

}

.con--1-flex p{
    color: rgba(102, 101, 101, 0.727);
    width: 80%;
    font-size: 17px;
    line-height: 30px;
    margin-top: 25px;
}

.iconImage{
    width: 40px;
    height: 40px;
    margin-top: 30px;
}


/* section---2 */


.sec--2{
    width: 90%;
    height: 290px;
    background-color: #ecf1f4;
    margin:70px;
    border-radius: 5px;
}

.con--2-div{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.audit-img{
    width: 230px;
    height: 180px;
}

.con--2-div-content{
    width:50%;
    margin: 40px;
}

.con--2-div-content h3{
    font-size: 30px;
    margin-bottom: 65px;
    color: rgba(34, 32, 32, 0.873);
}

.con--2-div-content p{
    line-height: 30px;
    font-size: 20px;
    color: rgba(34, 32, 32, 0.873);
}

.btn-audit{
    padding: 18px 50px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    background-color: rgba(50, 156, 121, 0.57);
    color: rgba(34, 32, 32, 0.873);
}
  